body {
    font-family: 'Arial', sans-serif;
    background-color: #6899ca;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calendar-container {
    position: relative;
}

#calendar {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fc-toolbar {
    background-color: #007bff;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.fc-button-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.fc-event {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.fc-event:hover {
    background-color: #218838;
}

.fc-day-header {
    font-weight: bold;
    color: #007bff;
}

.fc-day-number {
    color: #333;
}

.fc-day:hover {
    background-color: #e9ecef;
}

.fc-today {
    background-color: #cce5ff;
}

/* Dark Theme */
body.dark-theme #calendar {
    background-color: #4d4d4d;
    color: #3a3636;
}

/* Light Theme */
body.light-theme #calendar {
    background-color: #fff;
    color: #000;
}

/* Red Theme */
body.red-theme #calendar {
    background-color: #984040;
    color: #fff;
}

body.blue-theme #calendar {
    background-color: #3498db;
    color: #fff;
}

/* Green Theme */
body.green-theme #calendar {
    background-color: #2ecc71;
    color: #fff;
}

/* Purple Theme */
body.purple-theme #calendar {
    background-color: #9b59b6;
    color: #fff;
}

/* Orange Theme */
body.orange-theme #calendar {
    background-color: #e67e22;
    color: #fff;
}

/* Teal Theme */
body.teal-theme #calendar {
    background-color: #008080;
    color: #fff;
}

/* Pink Theme */
body.pink-theme #calendar {
    background-color: #e91e63;
    color: #fff;
}

.fc-customButton {
    margin-right: 8px;
}

/* Style for filter container */
#filter-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#filter-container label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

#category-filter {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#apply-filter {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

#apply-filter:hover {
    background-color: #0056b3;
}

/* Style for login, logout, and theme selector */
#button-container {
    text-align: center;
    margin-top: 20px;
}

#login,
#logout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
}

#login:hover,
#logout:hover {
    background-color: #0056b3;
}

#username-label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

#username {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#theme-selector-container {
    margin-top: 10px;
}

#theme-selector {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}

#theme-selector:hover {
    background-color: #0056b3;
}